[submodule "models/models/mindglide"]
	path = models/models/mindglide
	url = https://github.com/mMedcon/mindGlide
[submodule "models/mindglide"]
	path = models/mindglide
	url = https://github.com/mMedcon/mindGlide
